# Whatever IDE you're using, make sure you don't commit your config files
# personal preference, but no one wants your IDE settings :) 
.idea
src/TempBot/.idea
src/TempBot.Infrastructure/.idea
.vs
.vscode

# Remove bin and obj from the remote repo
src/TempBot/bin
src/TempBot/obj

src/TempBot.Infrastructure/bin
src/TempBot.Infrastructure/obj

# If you create a repo from this, uncomment appsettings.json 
# so you don't push your token :) 

# appsettings.json